# 학적조회시스템

## 1. 데이터 삽입

In [1]:
import pymysql
from tkinter import *
from tkinter import messagebox

In [51]:
conn = pymysql.connect(host='127.0.0.1',user='root',password='dhj5173284@',db='sampledb',charset='utf8')
cur = conn.cursor()

### 데이터 테이블 형성

In [52]:
cur.execute("CREATE TABLE studentTable2 (name varchar(5), ID varchar(10), email varchar(25), dept varchar(20))")

0

### 기본 데이터 삽입

In [53]:
cur.execute("INSERT INTO studentTable2 VALUES('도형준','2019056144','dhj1228@hanyang.ac.kr','BussinessSchool')")
cur.execute("INSERT INTO studentTable2 VALUES('박현렬','2019054262','phr1022@hanyang.ac.kr','BigData')")
cur.execute("INSERT INTO studentTable2 VALUES('홍민상','2019098452','hms0811@hanyang.ac.kr','ComputerScience')")
cur.execute("INSERT INTO studentTable2 VALUES('김재원','2019457657','kjw1111@hanyang.ac.kr','Economics')")
cur.execute("INSERT INTO studentTable2 VALUES('이지수','2019194839','ljs0923@hanyang.ac.kr','SportsScience')")

1

In [54]:
conn.commit()

## 2. 함수 생성

### 입력 함수

In [3]:
def insertData():
    con, cur = None, None
    data1, data2, data3, data4= "","","",""
    sql = None
    
    conn = pymysql.connect(host='127.0.0.1',user='root',password='dhj5173284@',db='sampledb',charset='utf8')
    cur = conn.cursor()
    
    data1 = edt1.get(); data2 = edt2.get(); data3 = edt3.get(); data4 = edt4.get()
    
    try:
        sql = "INSERT INTO studentTable2 VALUES('"+data1+"','"+data2+"','"+data3+"','"+data4+"')"
        cur.execute(sql)
    except:
        messagebox.showerror('오류','데이터 입력 오류가 발생함')
    else:
        messagebox.showinfo('성공','데이터 입력 성공')
    conn.commit()
    conn.close()

### 조회 함수

In [4]:
def selectData() :
    strData1, strData2, strData3, strData4 = [], [], [], []
    conn = pymysql.connect(host='127.0.0.1',user='root',password='dhj5173284@',db='sampledb',charset='utf8')
    cur = conn.cursor()
    cur.execute("SELECT * FROM studentTable2")
    strData1.append("이름")
    strData2.append("학번")
    strData3.append("e-mail")
    strData4.append("학과")
    strData1.append("--------------------")
    strData2.append("--------------------")
    strData3.append("--------------------")
    strData4.append("--------------------")
    while (True) :
        row = cur.fetchone()
        if row == None:
            break;
        strData1.append(row[0])
        strData2.append(row[1])
        strData3.append(row[2])
        strData4.append(row[3])
    listData1.delete(0,listData1.size()-1)
    listData2.delete(0,listData2.size()-1)
    listData3.delete(0,listData3.size()-1)
    listData4.delete(0,listData4.size()-1)
    for item1, item2, item3, item4 in zip(strData1, strData2, strData3, strData4):
        listData1.insert(END, item1)
        listData2.insert(END, item2)
        listData3.insert(END, item3)
        listData4.insert(END, item4)
    conn.close()

### 삭제 함수

In [5]:
def deleteData():
    con, cur = None, None
    data1, data2, data3, data4= "","","",""
    sql = None
    
    conn = pymysql.connect(host='127.0.0.1',user='root',password='dhj5173284@',db='sampledb',charset='utf8')
    cur = conn.cursor()
    
    data1 = edt1.get(); data2 = edt2.get(); data3 = edt3.get(); data4 = edt4.get()
    
    try:
        sql = "DELETE FROM studentTable2 WHERE id={}".format(data2)
        cur.execute(sql)
    except:
        messagebox.showerror('오류','데이터 삭제 오류가 발생함')
    else:
        messagebox.showinfo('성공','데이터 삭제 성공')
    conn.commit()
    conn.close()

### 변경 함수

In [6]:
def updateData():
    con, cur = None, None
    data1, data2, data3, data4= "","","",""
    sql = None
    
    conn = pymysql.connect(host='127.0.0.1',user='root',password='dhj5173284@',db='sampledb',charset='utf8')
    cur = conn.cursor()
    
    data1 = edt1.get(); data2 = edt2.get(); data3 = edt3.get(); data4 = edt4.get()
    
    try:
        sql = "UPDATE studentTable2 SET id ={} WHERE id={}".format(data3,data2)
        cur.execute(sql)
    except:
        messagebox.showerror('오류','데이터 변경 오류가 발생함')
    else:
        messagebox.showinfo('성공','데이터 변경 성공')
    conn.commit()
    conn.close()

## 3. GUI 메인코드 파트1,2

In [61]:
# 메인 코드부
import tkinter

window = Tk()
window.geometry("600x300")
window.title("학적 관리 시스템")

edtFrame1 = Frame(window)

edtFrame1.pack()

listFrame = Frame(window)
listFrame.pack(side = BOTTOM, fill=BOTH, expand=1)


edt1 = Entry(edtFrame1, width=10); edt1.pack(side='left',padx=10,pady=10)
edt2 = Entry(edtFrame1, width=10); edt2.pack(side='left',padx=10,pady=10)
edt3 = Entry(edtFrame1, width=10); edt3.pack(side='left',padx=10,pady=10)
edt4 = Entry(edtFrame1, width=10); edt4.pack(side='left',padx=10,pady=10)

# 입력 함수
btnInsert = Button(edtFrame1, text ="입력", command=insertData)
btnInsert.pack(side='left',padx=10,pady=10)
# 조회 함수
btnInsert = Button(edtFrame1, text ="전체 조회", command=selectData)
btnInsert.pack(side='left',padx=10,pady=10)
# 삭제 함수
btnInsert = Button(edtFrame1, text ="삭제(학번기준)", command=deleteData)
btnInsert.pack(side='left',padx=10,pady=10)
# 변경 함수
btnInsert = Button(edtFrame1, text ="변경(학번기준)", command=updateData)
btnInsert.pack(side='left',padx=10,pady=10)

listData1 = Listbox(listFrame,bg='skyblue')
listData1.insert(0,'이름')
listData1.insert(1,'(ex.도형준)')
listData1.pack(side=LEFT,fill=BOTH,expand=1)

listData2 = Listbox(listFrame,bg='skyblue')
listData2.insert(0,'학번')
listData2.insert(1,'(ex.2019056144)')
listData2.pack(side=LEFT,fill=BOTH,expand=1)

listData3 = Listbox(listFrame,bg='skyblue')
listData3.insert(0,'e-mail')
listData3.insert(1,'(ex.dhj1228@hanyang.ac.kr)')
listData3.pack(side=LEFT,fill=BOTH,expand=1)

listData4 = Listbox(listFrame,bg='skyblue')
listData4.insert(0,'학과')
listData4.insert(1,'(ex.BusinessSchool)')
listData4.pack(side=LEFT,fill=BOTH,expand=1)

window.mainloop()

In [62]:
from tkinter import *
import pymysql
import csv
from tkinter import filedialog

tess = Tk()

def browse_file():
    return filedialog.askopenfilename(filetypes=(("Template files", "*.csv"), ("All files", "*")))

def import_file():
    conn = pymysql.connect(host='127.0.0.1',user='root',password='dhj5173284@',db='sampledb',charset='utf8')
    print('connect successfull!')

    f = open('test_tkinter_csv.csv', 'r')

    csvReader = csv.reader(f)

    for row in csvReader:
        name = (row[0])
        ID = (row[1])
        email = (row[2])
        dept = (row[3])
        try:
            sql = "INSERT INTO studentTable2 (name,ID,email,dept) VALUES (%s, %s, %s, %s)"
            cursor = conn.cursor()
            cursor.execute(sql,(name,ID,email,dept))
            conn.commit()
        except:
            print('mysql syntax error!')

bt = Button(tess, text='browse file', command=browse_file)
bt.place(x=10, y=10)

bt = Button(tess, text='import file', command=import_file)
bt.place(x=10, y=45)


tess.mainloop()

connect successfull!

## 4. ★★★프레임 전환하기 및 실행★★★

In [59]:
try:
    import Tkinter as tk
except:
    import tkinter as tk

class SampleApp(tk.Tk):
    def __init__(self):
        tk.Tk.__init__(self)
        self._frame = None
        self.switch_frame(StartPage)

    def switch_frame(self, frame_class):
        new_frame = frame_class(self)
        if self._frame is not None:
            self._frame.destroy()
        self._frame = new_frame
        self._frame.pack()

class StartPage(tk.Frame):
    def __init__(self, master):
        tk.Frame.__init__(self, master)
        tk.Label(self, text="Start page", font=('Helvetica', 18, "bold")).pack(side="top", fill="x", pady=5)
        tk.Button(self, text="Go to page one",
                  command=lambda: master.switch_frame(PageOne)).pack()
        tk.Button(self, text="Go to page two",
                  command=lambda: master.switch_frame(PageTwo)).pack()

class PageOne(tk.Frame):
    def __init__(self, master):
        tk.Frame.__init__(self, master)
        tk.Frame.configure(self,bg='blue')
        tk.Label(self, text="학적 관리 시스템", font=('Helvetica', 18, "bold")).pack(side="top", fill="x", pady=5)
        window = Tk()
        window.geometry("600x300")
        window.title("학적 관리 시스템")

        edtFrame1 = Frame(window)

        edtFrame1.pack()

        listFrame = Frame(window)
        listFrame.pack(side = BOTTOM, fill=BOTH, expand=1)


        edt1 = Entry(edtFrame1, width=10); edt1.pack(side='left',padx=10,pady=10)
        edt2 = Entry(edtFrame1, width=10); edt2.pack(side='left',padx=10,pady=10)
        edt3 = Entry(edtFrame1, width=10); edt3.pack(side='left',padx=10,pady=10)
        edt4 = Entry(edtFrame1, width=10); edt4.pack(side='left',padx=10,pady=10)

        # 입력 함수
        btnInsert = Button(edtFrame1, text ="입력", command=insertData)
        btnInsert.pack(side='left',padx=10,pady=10)
        # 조회 함수
        btnInsert = Button(edtFrame1, text ="전체 조회", command=selectData)
        btnInsert.pack(side='left',padx=10,pady=10)
        # 삭제 함수
        btnInsert = Button(edtFrame1, text ="삭제(학번기준)", command=deleteData)
        btnInsert.pack(side='left',padx=10,pady=10)
        # 변경 함수
        btnInsert = Button(edtFrame1, text ="변경(학번기준)", command=updateData)
        btnInsert.pack(side='left',padx=10,pady=10)

        listData1 = Listbox(listFrame,bg='skyblue')
        listData1.insert(0,'이름')
        listData1.insert(1,'(ex.도형준)')
        listData1.pack(side=LEFT,fill=BOTH,expand=1)

        listData2 = Listbox(listFrame,bg='skyblue')
        listData2.insert(0,'학번')
        listData2.insert(1,'(ex.2019056144)')
        listData2.pack(side=LEFT,fill=BOTH,expand=1)

        listData3 = Listbox(listFrame,bg='skyblue')
        listData3.insert(0,'e-mail')
        listData3.insert(1,'(ex.dhj1228@hanyang.ac.kr)')
        listData3.pack(side=LEFT,fill=BOTH,expand=1)

        listData4 = Listbox(listFrame,bg='skyblue')
        listData4.insert(0,'학과')
        listData4.insert(1,'(ex.BusinessSchool)')
        listData4.pack(side=LEFT,fill=BOTH,expand=1)

        tk.Button(self, text="Go back to start page",
                  command=lambda: master.switch_frame(StartPage)).pack()
        window.mainloop()

class PageTwo(tk.Frame):
    def __init__(self, master):
        tk.Frame.__init__(self, master)
        tk.Frame.configure(self,bg='red')
        tk.Label(self, text="CSV파일", font=('Helvetica', 18, "bold")).pack(side="top", fill="x", pady=5)
        
        tess = Tk()
        # 파일 탐색 함수
        def browse_file():
            return filedialog.askopenfilename(filetypes=(("Template files", "*.csv"), ("All files", "*")))
        # csv 파일 DB로 전달하는 함수
        def import_file():
            conn = pymysql.connect(host='127.0.0.1',user='root',password='dhj5173284@',db='sampledb',charset='utf8')
            print('connect successfull!')

            f = open('test_tkinter_csv.csv', 'r')

            csvReader = csv.reader(f)

            for row in csvReader:
                name = (row[0])
                ID = (row[1])
                email = (row[2])
                dept = (row[3])
                try:
                    sql = "INSERT INTO studentTable2 (name,ID,email,dept) VALUES (%s, %s, %s, %s)"
                    cursor = conn.cursor()
                    cursor.execute(sql,(name,ID,email,dept))
                    conn.commit()
                except:
                    print('mysql syntax error!')

        bt = Button(tess, text='browse file', command=browse_file)
        bt.place(x=10, y=10)

        bt = Button(tess, text='import file', command=import_file)
        bt.place(x=10, y=45)
        
        tk.Button(self, text="Go back to start page",
                  command=lambda: master.switch_frame(StartPage)).pack()

if __name__ == "__main__":
    app = SampleApp()
    app.mainloop()

connect successfull!
connect successfull!

Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\dhj98\anaconda3\lib\tkinter\__init__.py", line 1892, in __call__
    return self.func(*args)
  File "C:\Users\dhj98\AppData\Local\Temp\ipykernel_13308\872221559.py", line 24, in <lambda>
    command=lambda: master.switch_frame(PageOne)).pack()
  File "C:\Users\dhj98\AppData\Local\Temp\ipykernel_13308\872221559.py", line 15, in switch_frame
    self._frame.destroy()
  File "C:\Users\dhj98\anaconda3\lib\tkinter\__init__.py", line 2580, in destroy
    self.tk.call('destroy', self._w)
_tkinter.TclError: can't invoke "destroy" command: application has been destroyed