In [1]:
import pymysql

## 데이터 입력 프로그램

In [2]:
# 전역변수 선언부
con, cur = None, None
data1, data2, data3= "","",""
sql = None

In [3]:
# 메인코드
conn = pymysql.connect(host='127.0.0.1',user='root',password='dhj5173284@',db='sampledb',charset='utf8')
cur = conn.cursor()

while True:
    data1 = input("사용자 ID ==> ")
    if data1 =="":
        break
    data2 = input("사용자 이름 ==> ")
    data3 = input("부서 ==> ")
    sql = "INSERT INTO student VALUES('"+data1+"','"+data2+"','"+data3+"')"
    cur.execute(sql)

conn.commit()
conn.close()

사용자 ID ==> 2019056
사용자 이름 ==> 도형준
부서 ==> 경영학부

IntegrityError: (1062, "Duplicate entry '2019056' for key 'student.PRIMARY'")

## 데이터 조회 프로그램

In [ ]:
# 전역변수 선언부
con, cur = None, None
data1, data2, data3= "","",""
row = None

In [ ]:
# 메인코드
conn = pymysql.connect(host='127.0.0.1',user='root',password='dhj5173284@',db='sampledb',charset='utf8')
cur = conn.cursor()

cur.execute("SELECT*FROM student")

print("사용자ID             사용자이름                      부서")
print('-----------------------------------------------------------')

while (True):
    row = cur.fetchone()
    if row == None:
        break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    
    print('%5s    %15s    %20s'%(data1,data2,data3))
conn.close()

## GUI 데이터 입력 프로그램

In [4]:
import pymysql
from tkinter import *
from tkinter import messagebox

### 입력 함수

In [5]:
def insertData():
    con, cur = None, None
    data1, data2, data3= "","",""
    sql = None
    
    conn = pymysql.connect(host='127.0.0.1',user='root',password='dhj5173284@',db='sampledb',charset='utf8')
    cur = conn.cursor()
    
    data1 = edt1.get(); data2 = edt2.get(); data3 = edt3.get()
    
    try:
        sql = "INSERT INTO student VALUES('"+data1+"','"+data2+"','"+data3+"')"
        cur.execute(sql)
    except:
        messagebox.showerror('오류','데이터 입력 오류가 발생함')
    else:
        messagebox.showinfo('성공','데이터 입력 성공')
    conn.commit()
    conn.close()

### 조회 함수

In [6]:
def selectData():
    strData1,strData2,strData3 = [],[],[]
    conn = pymysql.connect(host='127.0.0.1',user='root',password='dhj5173284@',db='sampledb',charset='utf8')
    cur = conn.cursor()
    cur.execute("SELECT * FROM student")
    strData1.append("사용자ID"); strData2.append("사용자이름")
    strData3.append("부서명")
    strData1.append('-----------'); strData2.append('-----------')
    strData3.append('-----------');
    
    while True:
        row = cur.fetchone()
        if row == None:
            break
        strData1.append(row[0]); strData2.append(row[1])
        strData3.append(row[2]);
        
        listData1.delete(0,listData1.size()-1); listData2.delete(0,listData2.size()-1)
        listData3.delete(0,listData3.size()-1);
        
        for item1, item2, item3 in zip(strData1,strData2,strData3):
            listData1.insert(END,item1); listData2.insert(END,item2)
            listData3.insert(END,item3);
        conn.close()

In [32]:
# 메인 코드부
import tkinter

window = Tk()
window.geometry("600x300")
window.title("고객 데이터 입력")

edtFrame = Frame(window);
edtFrame.pack()
listFrame = Frame(window)
listFrame.pack(side = BOTTOM, fill=BOTH, expand=1)

edt1 = Entry(edtFrame, width=10); edt1.pack(side='left',padx=10,pady=10)
edt2 = Entry(edtFrame, width=10); edt2.pack(side='left',padx=10,pady=10)
edt3 = Entry(edtFrame, width=10); edt3.pack(side='left',padx=10,pady=10)

# 입력 함수
btnInsert = Button(edtFrame, text ="입력", command=insertData)
btnInsert.pack(side='left',padx=10,pady=10)
# 조회 함수
btnInsert = Button(edtFrame, text ="조회", command=selectData)
btnInsert.pack(side='left',padx=10,pady=10)

listData1 = Listbox(listFrame,bg='yellow')
listData1.pack(side=LEFT,fill=BOTH,expand=1)
listData2 = Listbox(listFrame,bg='blue')
listData2.pack(side=LEFT,fill=BOTH,expand=1)
listData3 = Listbox(listFrame,bg='gray')
listData3.pack(side=LEFT,fill=BOTH,expand=1)

window.mainloop()